{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <form style="margin-bottom: 0;" method="POST" class="auth-form" action="{{ url_for("post") }}">
            {{ form.hidden_tag() }}
            {{ form.body(placeholder="What do you want to say?", rows = '4') }}
            {{ form.submit(value="Post") }}
        </form>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <div class="icon" style="background: url('https://s3.amazonaws.com/FringeBucket/default-user.png') 50% 50% no-repeat;"></div>
            <a href="{{ url_for("profile", user=post.author.username) }}">{{ post.author.nickname }}</a><span class="username">{{ post.author.username }}</span>
            {% if post.author == current_user or current_user.is_admin %}
                <a class="post-delete" href="{{ url_for("delete_post", id=post.id) }}">&times;</a>
            {% endif %}
            <div class="post-body">
                <p class="post-content">{{ post.body }}</p>
            </div>
            <p class="post-date">{{ post.date.strftime('%I:%M %p %B %d, %Y') }}</p>
        </div>
    {% endfor %}
{% endblock %}
