{% extends "base.html" %}
{% block content %}

    {% for post in posts.items %}
        <div class="post">
            <div class="icon" style="background: url({{ url_for("static", filename = "images/default.png") }}) 50% 50% no-repeat;"></div>
            <a href="{{ url_for("profile", user=post.author.username) }}">{{ post.author.nickname }}</a><span class="username">{{ post.author.username }}</span>
        </div>
        <div class="post-no-edit-div">
            <div class="post-body">
                <p class="post-content">{{ post.body }}</p>
            </div>
            <p class="post-date">{{ momentjs(post.date).format("LLL") }}</p>
        </div>
    {% endfor %}

    {% if posts.has_prev %}
        <div class="viewposts-button"> <a href="{{ url_for("posts", user=current_user.username, page = posts.prev_num) }}"> Previous Posts </a> </div> 
    {% endif %}

    {% if posts.has_next %}
        <div class="viewposts-button" style="float: right;"> <a href="{{ url_for("posts", user=current_user.username, page = posts.next_num) }}"> Next Posts </a> </div>
    {% endif %}

    <script type="text/javascript">
        $('.post-edit-div').hide();
        $('.post-edit').on("click", function (e) {
            e.preventDefault();
            $(this).parent().children('.post-edit-div').toggle();
            $(this).parent().children('.post-no-edit-div').toggle();
        });
    </script>
{% endblock %}


