{% extends "base.html" %}
{% block content %}

    <div class="profile-pic" style="background: url('https://s3.amazonaws.com/FringeBucket/default-user.png') 50% 50% no-repeat;"></div>
    {% if current_user.username == user.username %}
        <div class="profile-container">
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Username</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.username }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">First Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.fname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Last Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.lname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Email</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.email }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Nickname</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6profile-value">{{ user.nickname }}</div>
            </div>
        </div>
        <form class="auth-form" method="POST" action="{{ url_for("update_password") }}">
            {{ password_form.hidden_tag() }}
            {{ password_form.new_password(placeholder="Enter New Password") }}
            {{ password_form.confirm_password(placeholder="Confirm New Password") }}
            {{ password_form.submit() }}
            {% with errors = get_flashed_messages() %}
                {% for error in errors %}
                    <p class="error">{{ error[0] }}</p>
                {% endfor %}
            {% endwith %}
        </form>
    {% else %}
        <div class="follow-container">
            {% if current_user.is_following(user) %}
                <a href="{{ url_for("unfollow", username=user.username) }}">
                    <div class="follow-button">– Unfollow</div>
                </a>
            {% else %}
                <a href="{{ url_for("follow", username=user.username) }}">
                    <div class="follow-button">+ Follow</div>
                </a>
            {% endif %}
        </div>
        <div class="profile-container">
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Username</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.username }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">First Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.fname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Last Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.lname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Email</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.email }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Nickname</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6profile-value">{{ user.nickname }}</div>
            </div>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <div class="icon" style="background: url('https://s3.amazonaws.com/FringeBucket/default-user.png') 50% 50% no-repeat;"></div>
            <a href="{{ url_for("profile", user=post.author.username) }}">{{ post.author.nickname }}</a><span class="username">{{ post.author.username }}</span>
            {% if post.author == current_user or current_user.is_admin %}
                <a class="post-delete" href="{{ url_for("delete_post", id=post.id) }}">&times;</a>
                <a class="post-edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            {% endif %}
            <div class="post-no-edit-div">
                <div class="post-body">
                    <p class="post-content">{{ post.body }}</p>
                </div>
                <p class="post-date">{{ post.date.strftime('%I:%M %p %B %d, %Y') }}</p></div>
            <div class="post-edit-div">
                <form class="update-form" action="{{ url_for("edit_post", id = post.id) }}" method="POST">
                    {{ edit_form.hidden_tag() }}
                    {{ edit_form.body(id="update-textarea") }}
                    <p class="post-date">{{ post.date.strftime('%I:%M %p %B %d, %Y') }}</p>
                    {{ edit_form.submit(value="Update Post") }}
                </form>
            </div>
        </div>
    {% endfor %}
    <script type="text/javascript">
        $('.post-edit-div').hide();
        $('.post-edit').on("click", function (e) {
            e.preventDefault();
            $(this).parent().children('.post-edit-div').toggle();
            document.getElementById('update-textarea').innerHTML = $(this).parent().children('.post-no-edit-div').children(".post-body").children('p').html()
            $(this).parent().children('.post-no-edit-div').toggle();
        });
    </script>
{% endblock %}


