{% extends "base.html" %}
{% block content %}

    <div class="profile-pic" style="background: url('https://s3.amazonaws.com/FringeBucket/default-user.png') 50% 50% no-repeat;"></div>
    {% if current_user.username == user.username %}
        <div class="profile-container">
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Username</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.username }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">First Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.fname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Last Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.lname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Email</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.email }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Nickname</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6profile-value">{{ user.nickname }}</div>
            </div>
        </div>
    {% else %}
        <div class="follow-container">
            {% if current_user.is_following(user) %}
                <a href="{{ url_for("unfollow", username=user.username) }}">
                    <div class="follow-button">– Unfollow</div>
                </a>
            {% else %}
                <a href="{{ url_for("follow", username=user.username) }}">
                    <div class="follow-button">+ Follow</div>
                </a>
            {% endif %}
        </div>
        <div class="profile-container">
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Username</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.username }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">First Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.fname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Last Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.lname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Email</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.email }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Nickname</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6profile-value">{{ user.nickname }}</div>
            </div>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <div class="icon" style="background: url('https://s3.amazonaws.com/FringeBucket/default-user.png') 50% 50% no-repeat;"></div>
            <a href="{{ url_for("profile", user=post.author.username) }}">{{ post.author.nickname }}</a><span class="username">{{ post.author.username }}</span>
            {% if post.author == current_user %}
                <a class="post-delete" href="{{ url_for("delete_post", id=post.id) }}">&times;</a>
            {% endif %}
            <div class="post-body">
                <p class="post-content">{{ post.body }}</p>
            </div>
            <p class="post-date">{{ post.date.strftime('%I:%M %p %B %d, %Y') }}</p>
        </div>
    {% endfor %}
{% endblock %}


