{% extends "base.html" %}
{% block content %}
    {% if current_user == user %}
    <form id = "profile-pic-upload-form" method="POST" action="{{ url_for("upload_profile_pic") }}" enctype = "multipart/form-data">
        <div class="profile-pic-container">
            <img src="{{ url_for("get_profile_pic", user_id=user.id) }}" alt="Avatar" class="image">
            <input name = "picture" type="file" id="profile-pic-input" style="display:None" accept="image/gif, image/jpeg, image/png"/>
            <script>
                $("#profile-pic-input").on("change", function () {
                    $("#profile-pic-upload-form").submit()
                })
            </script>
            <div class="middle">
                <a onclick="document.getElementById('profile-pic-input').click()">Upload Profile Picture</br><i class="fa fa-2x fa-upload" aria-hidden="true"></i></a>
            </div>
        </div>
    </form>
    {% else %}
        <div class="profile-pic" style="background: url('https://s3.amazonaws.com/FringeBucket/default-user.png') 50% 50% no-repeat;"></div>
    {% endif %}
    {% if current_user == user or current_user.is_admin %}
        <div class="profile-container">
            {% if current_user.is_admin and user != current_user %}
                {% if user.is_admin %}
                    <a class="admin-remove" href="{{ url_for("remove_admin", id=user.id) }}">Remove {{ user.name }} as an Admin</a>
                {% else %}
                    <a class="admin-add" href="{{ url_for("add_admin", id=user.id) }}">Make {{ user.name }} an Admin</a>
                {% endif %}
            {% endif %}
            {% with error = get_flashed_messages(category_filter=["admin-error"])[0] %}
                <p class="error">{{ error }}</p>
            {% endwith %}
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Username</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.username }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">First Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.fname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Last Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.lname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Email</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.email }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Nickname</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6profile-value">{{ user.nickname }}</div>
            </div>
            <a class="delete-account" href="{{ url_for("delete_user", id=user.id) }}">Delete Account</a>
            {% with error = get_flashed_messages(category_filter=["delete-error"])[0] %}
                <p class="error">{{ error }}</p>
            {% endwith %}
        </div>
        <form class="auth-form" method="POST" action="{{ url_for("update_password") }}">
            {{ password_form.hidden_tag() }}
            {{ password_form.new_password(placeholder="Enter New Password") }}
            {{ password_form.confirm_password(placeholder="Confirm New Password") }}
            {{ password_form.submit() }}
            {% with errors = get_flashed_messages() %}
                {% for error in errors %}
                    <p class="error">{{ error[0] }}</p>
                {% endfor %}
            {% endwith %}
        </form>
    {% else %}
        <div class="follow-container">
            {% if current_user.is_following(user) %}
                <a href="{{ url_for("unfollow", username=user.username) }}">
                    <div class="follow-button">– Unfollow</div>
                </a>
            {% else %}
                <a href="{{ url_for("follow", username=user.username) }}">
                    <div class="follow-button">+ Follow</div>
                </a>
            {% endif %}
        </div>
        <div class="profile-container">
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Username</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.username }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">First Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.fname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Last Name</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.lname }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Email</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ user.email }}</div>
            </div>
            <div class="profile-row row">
                <div class="profile-label col-lg-6 col-md-6 col-sm-6 col-xs-6">Nickname</div>
                <div class="profile-value col-lg-6 col-md-6 col-sm-6 col-xs-6profile-value">{{ user.nickname }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}


