{% extends "base.html" %}
{% block content %}

    {% for user in users %}

        <div class="user">
            <div class="profile-pic" style="background: url({{ url_for("static", filename = "images/default.png") }}) 50% 50% no-repeat;"></div>
            <a href="{{ url_for("profile",user=user.username) }}">{{ user.fname }} {{ user.lname }}</a>
            <span class="username">{{ user.username }}</span>
            {% if current_user.is_following(user) %}
                <a href="{{ url_for("unfollow", username=user.username) }}">
                    <div class="follow-button">– Unfollow</div>
                </a>
            {% else %}
                <a href="{{ url_for("follow", username=user.username) }}">
                    <div class="follow-button">+ Follow</div>
                </a>
            {% endif %}
        </div>

    {% endfor %}

{% endblock %}