html, body {
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #14355f !important;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif
}

a {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color: #14355f;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #ccc !important;
    margin-bottom: 0
}

aside {
    padding: 50px 0
}

.no-padding {
    padding: 0
}

.navbar-default {
    background-color: #fff;
    border-color: rgba(34, 34, 34, 0.05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default .navbar-header .navbar-brand {
    color: #14355f;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 800
}

.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: #14355f;
    text-transform: uppercase
}

.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #14355f
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
    color: #000
}

.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
    color: #14355f !important;
    background-color: transparent
}

.navbar-default .nav > li.active > a:hover, .navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: #fff;
        border-color: rgba(255, 255, 255, 0.3)
    }

    .navbar-default .navbar-header .navbar-brand {
        color: #14355f
    }

    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
        color: #000
    }

    .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
        color: #14355f
    }

    .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
        color: #000
    }

    .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34, 34, 34, 0.05)
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        color: #14355f;
        font-size: 14px
    }

    .navbar-default.affix .nav > li > a, .navbar-default.affix .nav > li > a:focus {
        color: #222
    }

    .navbar-default.affix .nav > li > a:hover, .navbar-default.affix .nav > li > a:focus:hover {
        color: #000
    }
}

section {
    width: 100%;
    text-align: center
}

.auth-form {
    margin: 50px auto;
    width: 50%;
    background-color: #fff;
    padding: 20px
}

.auth-form input[type="text"], .auth-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 10px auto 10px auto;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border-width: 0 0 1px 0
}

.auth-form input:focus {
    outline: none;
    border-color: #ccc
}

.auth-form input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin: 10px auto 10px auto;
    background-color: #14355f;
    border: 1px solid #14355f;
    color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.auth-form input[type="submit"]:hover {
    background-color: #fff;
    color: #14355f
}

.auth-form textarea {
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: none;
}

.auth-form textarea:focus {
    outline: none;
}

form p {
    margin-top: 20px;
    text-align: center;
    color: #222 !important;
    font-size: 1em
}

.error {
    color: darkred !important
}

.profile-container {
    margin: 20px auto auto auto;
    width: 50%;
    background-color: white;
    padding: 20px;
}

.profile-container .profile-row div {
    width: 50%;
}

.profile-container .profile-row {
    margin: 10px;
}

.profile-container .profile-row .profile-value {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
}

.profile-pic {
    background-size: cover !important;
    width: 150px;
    height: 150px;
    margin: 30px auto;
}

.post {
    margin: 25px auto 25px auto;
    width: 50%;
    background-color: white;
    padding: 20px;
    display: table;
}

.name {
    color: rgba(0, 75, 150, 0.8);
    font-size: 1.1em !important;
}

.post a {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.1em;
}

.post .post-body {
    padding: 10px 10px 0 10px;
}

.post-content {
    color: #222 !important;
    font-size: 0.9em !important;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
}

.post .username {
    padding-left: 1em;
}

.icon {
    width: 2em;
    height: 2em;
    background-size: cover !important;
    display: inline-block;
    float: left;
    margin: 0 20px 5px 0px;
}

.post .post-date {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
    color: #888 !important;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: -5px;
}

.post-delete {
    float: right;
    margin-top: -10px;
    font-size: 1.5em !important;
}

.post-delete:hover {
    color: #14355f !important;
}

.post-edit i {
    float: right;
    margin: -3px 10px auto 5px;
    font-size: 1.0em !important;
    padding-left: 3px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}

.post-edit i:hover {
    border-bottom: 2px solid #14355f;
    color: #14355f;
    cursor: pointer;
}

.viewposts-button {
    padding: 8px;
    margin: 10px auto 10px auto;
    background-color: white;
    border: 1px solid white;
    color: #14355f;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

.follow-button {
    padding: 8px;
    margin: 10px auto 10px auto;
    background-color: white;
    border: 1px solid white;
    color: #14355f;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

.follow-button:hover {
    background-color: transparent;
    color: white;
}

.follow-container {
    text-align: center;
}

.user {
    background-color: white;
    width: 170px;
    text-align: center;
    padding: 20px;
    margin: 20px 10px 20px 20px;
    display: inline-block;
}

.user .username {
    font-size: 0.9em;
    color: #666;
}

.user .profile-pic {
    background-size: cover !important;
    width: 100px;
    height: 100px;
    margin: 10px auto 10px auto;
}

.user a {
    display: block;
}

.user a .follow-button {
    background-color: white;
    border-color: #14355f;
}

.user a .follow-button:hover {
    background-color: #14355f;
}

#search-bar {
    border-color: #ccc;
    width: 300px;
    padding: 8px;
    margin: 5px 60px 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border-width: 0 0 1px 0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

#search-bar:focus {
    outline: none;
    border-color: #888;
}

.update-form p {
    text-align: left;
    display: inline;
}

.update-form textarea {
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.update-form textarea:focus {
    outline: none;
}

.update-form input[type="submit"] {
    padding: 8px;
    margin: -5px auto 0px auto;
    background-color: #14355f;
    border: 1px solid #14355f;
    color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    float: right;
}

.update-form input[type="submit"]:hover {
    background-color: #fff;
    color: #14355f
}

.admin-container {
    margin: 50px auto;
    width: 50%;
    background-color: #fff;
    padding: 20px
}

.admin-container .admin-row div {
    width: 50%;
}

.admin-container .admin-row {
    margin: 10px;
}

.admin-container .admin-row .admin-value {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
}

.admin-container .admin-row .admin-value a {
    text-align: left !important;
}

.admin-container h2 {
    text-align: center;
}

.admin-container .statistics {
    margin: 20px auto auto auto;
}

.admin-container a {
    text-align: center;
    display: block;
}

.delete-account {
    color: darkred;
    display: block;
    text-align: center;
    font-size: 14px;
    margin: 20px auto auto auto;
}

.admin-remove, .admin-add {
    display: block;
    text-align: center;
}

.profile-container .error {
    text-align: center;
    font-size: 13px;
}

.forgot-data {
    text-align: center;
}

.profile-pic-container {
    position: relative;
    width: 15%;
    margin: 30px auto;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 90%;
}

.middle a {
    color: white;
}

.profile-pic-container:hover .image {
    opacity: 0.3;
}

.profile-pic-container:hover .middle {
    opacity: 1;
}